<?xml version="1.0" encoding="utf-8"?>

<bundles version="1.0">
  <styleBundle path="~/stylesheets/Base">
    <include path="~/bootstrap/css/bootstrap.min.css" />
    <include path="~/stylesheets/flat-ui.css" />
  </styleBundle>

  <styleBundle path="~/stylesheets/Index">
    <include path="~/stylesheets/example.css" />
  </styleBundle>

  <styleBundle path="~/stylesheets/Login">
    <include path="~/stylesheets/login.css" />
  </styleBundle>

  <styleBundle path="~/stylesheets/Register">
    <include path="~/stylesheets/register.css" />
  </styleBundle>

  <styleBundle path="~/stylesheets/Post">
    <include path="~/stylesheets/post.css" />
  </styleBundle>

  <styleBundle path="~/stylesheets/Detail">
    <include path="~/stylesheets/detail.css" />
  </styleBundle>
</bundles>