@charset "UTF-8";
/**
 * 
 * @authors Tom Hu (h1994st@gmail.com)
 * @date    2014-05-21 15:34:00
 * @version 1.0
 */

.person-tile p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.item-detail-tile {
  text-align: left;
  padding: 14px 40px 30px;
}
.item-detail-tile::before {
  content: '';
  border-style: solid;
  border-width: 18px 18px 18px 0;
  border-color: transparent #edeff1 transparent transparent;
  height: 0;
  position: absolute;
  width: 0;
  -webkit-transform: rotate(360deg);
  left: -18px;
  top: 50px;
}
.item-detail-tile ul {
  list-style: none;
  padding: 0;
}
.item-detail-tile ul > li {
  margin-top: 15px;
  margin-bottom: 15px;
}
.item-detail-tile ul > li span {
  margin-right: 20px;
}
.item-detail-tile .item-description p {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 38px;
}

/**
 * Comment
 */
.item-comment-box textarea {
  resize: none;
  height: 42px;

  -webkit-transition: height .25s ease;
     -moz-transition: height .25s ease;
      -ms-transition: height .25s ease;
       -o-transition: height .25s ease;
          transition: height .25s ease;
}
.item-comment-box textarea:focus {
  height: 86px;
}

.item-comment-box .comment-btn {
  display: none;
}

.item-comment-list {
  margin-top: 15px;
}
.item-comment-list .item-comment {
  border-top: 1px solid #f7f7f7;
  padding: 15px 65px 15px 15px;
}
.item-comment-list .item-comment:hover {
  background-color: #f7f7f7;
}
.item-comment-list .item-comment .avatar {
  float: left;
}
.item-comment-list .item-comment .item-comment-content {
  margin-left: 65px;
}
.item-comment-list .item-comment .item-comment-content p {
  margin: 0;
  padding: 0;
}
