@charset "UTF-8";
/**
 * 
 * @authors Tom Hu (h1994st@gmail.com)
 * @date    2014-04-24 22:18:02
 * @version 1.0
 */

main {
  margin-top: 100px;
}

footer {
  margin-top: 20px;
}

.footer-banner {
  min-height: 190px;
}