@charset "UTF-8";
/**
 * 
 * @authors Tom Hu (h1994st@gmail.com)
 * @date    2014-05-20 23:33:50
 * @version 1.0
 */

html, body {
  height: 100%;
  min-height: 100%;
}

main {
  max-height: 100%;
  height: 100%;
  color: #ffffff;
  position: relative;
}

.login-screen {
  padding: 0;
  padding-top: 250px;
  padding-left: 350px;
  padding-right: 350px;
}
.login-icon {
  position: relative;
  left: auto;
  top: auto;
  margin: 0;
  float: left;
  width: 120px;
}
.login-form {
  margin-left: 154px;
}
